<div class="main-cont">
    <div class="panal">

      <mat-radio-group class="min" [(ngModel)]="selectedOption" (change)="onOptionChange()" aria-label="Select an option">
        <mat-radio-button value="in-progress">Ongoing Projects</mat-radio-button>
        <mat-radio-button value="completed">Closed Projects</mat-radio-button>
        <mat-radio-button value="not-started">Projects not started</mat-radio-button>
    </mat-radio-group>
    
        <div  *ngIf="isAdmin" class="panal-comp shadow"  style="cursor: pointer;" (click)="openCreateProj()"  >
            <span class="material-symbols-outlined">
                add_circle
                </span>
           <h4 style="font-size: 14px;">Create Project</h4> 
        </div>
    </div>
    <div class="h-line opacity"></div>
    <div id="entries" class="shadow">
        <div class="entri-header">
            <div class="entries-box" (click)="report = true" style="cursor: pointer;" [class.active]="report"><p>Projects Report</p></div>
            <div class="v-line"></div>
            <div class="entries-box" (click)="createCharts()" style="cursor: pointer;" [class.active]="!report" ><p>View Project Analytics</p></div>
        </div>
        <div id="entri-area">
          <mat-accordion *ngIf="report" class="example-headers-align">
            <mat-expansion-panel *ngFor="let panel of projects; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span style="opacity: 0.7; color: #04AA6D; margin-right: 5px;">Project Name : </span>  {{ panel.name }}
                </mat-panel-title>
                <mat-panel-description>
                 <span style="display: inline-block;">  </span> <div style="background-color: rgba(255, 255, 255, 0.384); opacity: 0.7; padding-inline: 5px; border-radius: 4px;">{{ panel.teamLeadName }}</div> 
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              <div><span style="opacity: 0.7; color: #04AA6D; margin-right: 5px;">Description: </span> {{ panel.description }}</div>
          
              <mat-action-row>
                <div class="acts">
                  <button id="view-proj" (click)="gotoViewProj(panel)" style="cursor: pointer;" >View Project</button>
                  <button *ngIf="isAdmin" id="dismiss-proj" style="cursor: pointer;" (click)="removeProject(i)" >Dismiss Project</button>
                </div>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          
              
        </div>
        <div id="analytics-view" *ngIf="!report">
          <h2>Comparative Project Analysis</h2>
          <canvas id="comparativeChart" height="10px" width="10px"></canvas>
        </div>
    </div>
</div>
