<div class="main-cont">
    <div class="panal">

        <div class="panal-comp shadow">
            <span class="material-symbols-outlined">
                add_circle
                </span>
           <h4>Create Project</h4> 
        </div>
        <div class="panal-comp shadow">
            <h4>Ongoing Projects</h4>
        </div>
        <div class="panal-comp shadow">
            <h4>Closed Projects</h4>
        </div>
        <div class="panal-comp shadow">
            <h4>Archieved Projects</h4>
        </div>
    </div>
    <div class="h-line opacity"></div>
    <div id="entries" class="shadow">
        <div class="entri-header">
            <div class="entries-box"><p>Projects Report</p></div>
            <div class="v-line"></div>
            <div class="entries-box"><p>View Project Analytics</p></div>
        </div>
        <div id="entri-area">
        <router-outlet></router-outlet>
        </div>
    </div>
</div>
