
  .panal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
  }
  .panal-comp{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 160px;
    background-color: #04AA6D;
    margin-left: 50px;
    margin-block: 20px;
    font-size: large;
    border-radius: 5px;
    /* opacity: 0.7; */
  }
 .panal-comp>h4{
     margin-inline: 8px;
     opacity: 0.7;
     font-size: 0.85rem;
  }
  .opacity{
    opacity: 0.2;
  }
  #entries{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 75vw;
    margin-left: 50px ;
  }
  .entri-header{
    background-color: hsl(60, 56%, 91%, 0.3);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .entries-box{
    width: 50%;
    display: grid;
    place-items: center;
  }
  #entri-area{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  .min{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  ::ng-deep .mat-action-row {
    background-color: #292929!important;
  }
  ::ng-deep .mat-expansion-panel-content{
    background-color: #292929!important;
  }
  ::ng-deep .mat-expansion-panel-header.mat-expanded{
    background-color: #292929!important;
  }
  ::ng-deep .mat-expansion-panel-header:not([aria-disabled=true]){
    background-color: #292929!important;
    color: white!important;
     font-family: "Poppins", sans-serif !important;

  }
  ::ng-deep .mat-expansion-panel-header-title{
    color: white!important;
  }
  ::ng-deep .mat-expansion-panel-header-description{
    color: white!important;
   
  }
  ::ng-deep .mat-action-row {
    padding: 0px 7px 0px 24px !important;
  }
  ::ng-deep .mat-expansion-panel-body{
    
    padding-block: 10px !important;
    padding-inline: 20px !important;
    color: white;
    font-family: poppins;
  }
  ::ng-deep .mdc-button .mdc-button__label{
    position: relative;
    color: white;
    font-family: poppins;
  }
  
.acts button{
  height: 30px;
  width: 140px;
  margin-left: 15px;
  font-family: "Poppins", sans-serif !important;
  border-radius: 4px;
}
#view-proj{
  background-color: transparent;
  border:1px solid #04AA6D;
  color: #04AA6D;
}
#view-proj:hover{
  background-color: #04AA6D;
  border:1px solid #04AA6D;
  color: white;
}
#dismiss-proj{
  background-color: transparent;
  border:1px solid #e01d0f;
  color: #e01d0f;
}
#dismiss-proj:hover{
  background-color:#e01d0f ;
  border:1px solid #e01d0f;
  color: white;
}

::ng-deep .mat-mdc-radio-button .mdc-form-field {
  color: rgb(255 255 255 / 87%) !important;
  font-family: "Poppins", sans-serif !important;
}
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: rgb(255 255 255 / 54%)!important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: #04AA6D !important;
}
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #04AA6D !important;
}
::ng-deep .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color:  #04aa6d83 !important;
}
span{
  margin: 0%;
  padding: 0%;
}

#chart-area {
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  height: 300px !important;
  margin: 0 auto;
}

canvas {
  width: 100% !important;
  height: 300px !important;

  /* height: auto !important; */
}

.active {
  background-color: #006741;
  color: white;
}
