<div class="main-cont">
    <app-task-table></app-task-table>
    <h3>Task Analytics</h3>
    <div class="h-line"></div>
    <div class="panal shadow">
        <ul>
            <li class="shadow" (click)="openCreateTask()">
                <span class="material-symbols-outlined">
                    add_circle
                    </span>
                Add new task</li>
            <li class="shadow">View Graph</li>
            <li>Total Tasks: </li>
            <li>Running: </li>
            <li>Closed: </li>
        </ul>
    </div>
</div>
