.create-team-container {
    background-color: #1a1a1ab7;
    color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 973px;
    /* margin: 0 auto; */
    margin-inline: 3vw;
    font-size: small;
    margin-block: 30px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  
    .label {
      display: block;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  
    .input {
      background-color: #2a2a2a;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      padding: 0.75rem 1rem;
      width: 100%;
      transition: background-color 0.3s ease;
  
      &:focus {
        background-color: #3a3a3a;
        outline: none;
      }
  
      &.textarea {
        resize: vertical;
      }
    }
  }
  
  .submit-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
  
    &:disabled {
      background-color: #7f8c8d;
      cursor: not-allowed;
    }
  }

  .suggestions{
    width: 300px;
    background-color: #74747452;
    border-radius: 7px;
    padding-inline: 10px;
    padding-block: 10px;
  }
  .suggestions div {
    background-color: #00000029;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 5px;
    margin-block-end: 1px;
  }

  .selected-members span {
      border-radius: 5px;
      background-color: rgb(53, 94, 128);
      padding-block: 5px;
      padding-inline: 5px;
      margin-right: 8px;
      /* margin-block-start: 45px; */
 
  }

  .selected-members{
    margin-top: 2em !important;
  }