<div class="main-content board">
    <div class="m1">
      <div class="card-sec">
        <div class="card mr"><div class="card-cont"></div></div>
        <div class="card mr"><div class="card-cont"></div></div>
        <div class="card "><div class="card-cont"></div></div>
      </div>
      <div class="list-sec">
        <div class="head-info"><p>Violations of quality rules</p></div>
        
         <div class="table">
         
          <table>
            <tr>
              <th>FEmployee Name</th>
              <th>Team Name</th>
              <th>Number of Tasks</th>
            </tr>
            <tr *ngFor="let row of users" (click)="openMem(row)">
              <td>{{ row.user.name }}</td>
              <td>{{ row.teamName }}</td>
              <td>{{ row.numberOfTasks }}</td>
            </tr>
          </table>
          


        </div> 
      </div>
    </div>
    <div class="m2">
      <!-- <app-board-form></app-board-form> -->
      <mat-vertical-stepper class="stepper" [linear]="false" #stepper [animationDuration]="duration">
        <mat-step >

        </mat-step>
        <mat-step >
        
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    
    </div>
  </div>
