<div class="main-content board">
    <div class="m1">
      <div class="card-sec">
        <div class="card mr"><div class="card-cont"></div></div>
        <div class="card mr"><div class="card-cont"></div></div>
        <div class="card "><div class="card-cont"></div></div>
      </div>
      <div class="list-sec">
        <div class="head-info"><p>Violations of quality rules</p></div>
        
         <div class="table">
          <app-table></app-table>
        </div> 
      </div>
    </div>
    <div class="m2">
      <app-board-form></app-board-form>
    
    </div>
  </div>
