.heading{
    margin-top: 60px;
  }
  .heading h3{
    color: whitesmoke;
    padding: 6px;
    margin-left: 8px ;
    margin-bottom: 4px;
  }
  .main-content{
    display: flex;
  /*   background-color: blue; */
    height:calc(100vh - 70px);
    width: 100%;
    margin-top: 70px;
  }
  .m1{
    height: 100%;
    width: 77%;  /*   background-color: yellow; */
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .m2{
    height: 100%;
    width: 23%;
    background-color: #292929;
    margin-left: 13px;
  }
  /* .m2 div{
    height: 100%;
    width: 100%;
  } */
  .card-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  /*   background-color: pink; */
    height: 25%;
    width: 100%;
  }
  .card{
   display: grid;
   place-items: center;
  /*  background-image: linear-gradient(#11609c, #2a984b); */
    height: 100%;
    width: 33.3%;
    box-shadow: 2px 2px 4px 0 rgba(147, 255, 146, 0.2);
  }
  .mr{
    margin-right: 12px;
  }
  .card-cont{
    height: 98%;
    width: 99.5%;
    background-color: #292929;
  }
  .list-sec{
  /*   position: absolute; */
    background-color: #1f1f1f;
    height: 75%;
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
  /*   align-items: center; */
    justify-content: flex-start;
  }
  .table{
    color: whitesmoke;
    overflow-y: auto;
  }
  .head-info{
    background-color: #292929;
    color: white;
  }
  .head-info p{
  margin-left: 13px;
    font-size: 1rem;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #1c1c1c;
    opacity: 0.7;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #292929;
  }

  .stepper {
    height: 80%;
    width: 100%;
  }