<div class="main-content board">
    <div class="m1">
      <div class="card-sec">
        <div class="card mr"><div class="card-cont"></div></div>
        <div class="card mr"><div class="card-cont"></div></div>
        <div class="card "><div class="card-cont"></div></div>
      </div>
      <div class="list-sec">
        <div class="head-info"><p>Violations of quality rules</p></div>
        
         <div class="table">
         
          <table>
            <tr>
              <th>FEmployee Name</th>
              <th>Team Name</th>
              <th>Number of Tasks</th>
            </tr>
            <tr *ngFor="let row of users" (click)="openMem(row)">
              <td>{{ row.user.name }}</td>
              <td>{{ row.teamName }}</td>
              <td>{{ row.numberOfTasks }}</td>
            </tr>
          </table>
          


        </div> 
      </div>
    </div>
    <div class="m2">
      <!-- <app-board-form></app-board-form> -->
    
    </div>
  </div>
