.table{
    color: whitesmoke;
    overflow-y: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 60vh;
  }
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #1c1c1c;
    opacity: 0.7;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #292929;
  }