<form action="#" id="form_id">
    <div class="container">
       <h3>Violation Filter</h3>
<!--                     <p>Please fill in this form to create an account.</p> -->
       <hr>

<!--                      <label for="email"><b>Email</b></label> -->
  
        <label for="s-d"><b>Select Date</b></label>
       <select id="cars select" name="carlist" form="form_id">
        <option value="Taday">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
       </select>
        <label for="s-d"><b>Select Date</b></label>
       <select id="cars select" name="carlist" form="form_id">
        <option value="Taday">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
       </select>
        <label for="s-d"><b>Select Date</b></label>
       <select id="cars select" name="carlist" form="form_id">
        <option value="Taday">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
       </select>
        <label for="s-d"><b>Select Date</b></label>
       <select id="cars select" name="carlist" form="form_id">
        <option value="Taday">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
       </select>
        <label for="s-d"><b>Select Date</b></label>
       <select id="cars select" name="carlist" form="form_id">
        <option value="Taday">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
       </select>
       <button id="green">Generate</button>
       <button id="no-color">Reset</button>
       
     </div>

      
  </form> 
