<div class="main-cont">
    <div class="above ">
        <h2>Team&#47;s</h2>
        <div>
            <!-- <div class="search shadow">
                <app-search></app-search>
            </div> -->
            <button *ngIf="isAdmin" class="shadow" style="border-radius: 4px; cursor: pointer; font-size: 14px;" (click)="openCreateTeam()">Add new Team</button>      
        </div>
    </div>
    <div class="h-line"></div>
    <div class="show-area" >
 

            <div class="sqare-team-info shadow" *ngFor="let team of teams">
                <h3>{{team.name.toUpperCase()}}</h3>
                <div class="h-line"></div>
                <h5><span style="font-size: 13px!important; opacity: 0.5; font-weight: 400!important; margin-right: 3px;">Department:</span> {{ userService.capatializeFirstLetterAfterSpace(team?.department)}}</h5>
                <h5><span style="font-size: 13px!important; opacity: 0.5; font-weight: 400!important; margin-right: 3px;">Team Lead:</span> {{userService.capatializeFirstLetterAfterSpace(team?.teamLeadName) || team.teamLeadName}}</h5>
                <h5><span style="font-size: 13px!important; opacity: 0.5; font-weight: 400!important; margin-right: 3px;">Members:</span> {{team.members.length}}</h5>
                <div class="acts">
                    <button id="view-team" style="border-radius: 4px; cursor: pointer;"  (click)="gotoViewTeam(team)">View Team</button>
                    <button *ngIf="isAdmin" style="border-radius: 4px; cursor: pointer;" (click)="removeTeam(team)" id="dismiss-team">Dismiss Team</button>
                </div>
            </div>


        
        
     
        
    </div>
</div>
