<div class="main-cont">
    <div class="above ">
        <h2>Team&#47;s</h2>
        <div>
            <div class="search shadow">
                <app-search></app-search>
            </div>
            <button class="shadow" (click)="openCreateTeam()">Add new Team</button>      
        </div>
    </div>
    <div class="h-line"></div>
    <div class="show-area">
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        <div class="sqare-team-info shadow">
            <h3>Team Name</h3>
            <div class="h-line"></div>
            <h5>Department: Devops</h5>
            <h5>Team Lead: John Doe</h5>
            <h5>Members: 10</h5>
            <div class="acts">
                <button id="view-team">View Team</button>
                <button id="dismiss-team">Dismiss Team</button>
            </div>
        </div>
        
        
     
        
    </div>
</div>
