.calendar {
    width: 300px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
  
    .calendar-header {
      background-color: #292929;
      padding: 10px;
      text-align: center;
      font-weight: bold;
  
      .month {
        font-size: 16px;
      }
    }
  
    .calendar-body {
      .calendar-week {
        display: flex;
        justify-content: space-around;
        padding: 5px 0;
  
        .calendar-day {
            width: 38px;
            height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          cursor: pointer;
  
          &.day-header {
            font-weight: bold;
            color: #666;
            cursor: default;
          }
  
          &.current-day {
            /* background-color: #007bff; */
            color: #fff;
          }
  
          &.other-month {
            color: #ccc;
            opacity: 0.5;
            cursor: not-allowed;
          }
           
          &.today{
            background-color: #005ac0;
          }
        }
      }
    }
  
    .calendar-week:first-child .calendar-day:nth-child(1),
    .calendar-week:first-child .calendar-day:nth-child(7) {
      background-color: #e01d0f;
      color: #fff;
    }
  
    .calendar-week:first-child .calendar-day:nth-child(2),
    .calendar-week:first-child .calendar-day:nth-child(3),
    .calendar-week:first-child .calendar-day:nth-child(4),
    .calendar-week:first-child .calendar-day:nth-child(5),
    .calendar-week:first-child .calendar-day:nth-child(6) {
      background-color: #04AA6D; 
      color: #fff;
    }
  }

  .ma{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calendar-day.clicked {
    background-color: #4779b2; /* or any other color you want */
  }
  .extend {
    height: 30dvh;
    width: 40dvw;
    background-color: #292929;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
    padding: 20px;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .no-tasks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .no-tasks p {
    font-size: 16px;
    color: #888;
  }
  
  .task-list h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
  }
  
  .task-item {
    background-color: #3a3a3a;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .task-item h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #4CAF50;
  }
  
  .task-item p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .task-item strong {
    color: #64B5F6;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #292929;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }